In [1]:
cd /Volumes/LaCie/FPV_GIS/waterbodies

/Volumes/LaCie/FPV_GIS/waterbodies

In [4]:
ls

NHD_H_Alabama_Shape.zip
NHD_H_Arizona_Shape.zip
NHD_H_Arkansas_Shape.zip
NHD_H_California_Shape.zip
NHD_H_Colorado_Shape.zip
NHD_H_Connecticut_Shape.zip
NHD_H_Delaware_Shape.zip
NHD_H_District_of_Columbia_Shape.zip
NHD_H_Florida_Shape.zip
NHD_H_Georgia_Shape.zip
NHD_H_Idaho_Shape.zip
NHD_H_Illinois_Shape.zip
NHD_H_Indiana_Shape.zip
NHD_H_Iowa_Shape.zip
NHD_H_Kansas_Shape.zip
NHD_H_Kentucky_Shape.zip
NHD_H_Louisiana_Shape.zip
NHD_H_Maine_Shape.zip
NHD_H_Maryland_Shape.zip
NHD_H_Massachusetts_Shape.zip
NHD_H_Michigan_Shape.zip
NHD_H_Minnesota_Shape.zip
NHD_H_Mississippi_Shape.zip
NHD_H_Missouri_Shape.zip
NHD_H_Montana_Shape.zip
NHD_H_Nebraska_Shape.zip
NHD_H_Nevada_Shape.zip
NHD_H_New_Hampshire_Shape.zip
NHD_H_New_Jersey_Shape.zip
NHD_H_New_Mexico_Shape.zip
NHD_H_New_York_Shape.zip
NHD_H_North_Carolina_Shape.zip
NHD_H_North_Dakota_Shape.zip
NHD_H_Ohio_Shape.zip
NHD_H_Oklahoma_Shape.zip
NHD_H_Oregon_Shape.zip
NHD_H_Pennsylvania_Shape.zip
NHD_H_Rhode_Island_Shape.zip
NHD_H_South_Carolina_Shape.zip
NHD_H_South_Dakota_Shape.zip
NHD_H_Tennessee_Shape.zip
NHD_H_Texas_Shape.zip
NHD_H_Utah_Shape.zip
NHD_H_Vermont_Shape.zip
NHD_H_Virginia_Shape.zip
NHD_H_Washington_Shape.zip
NHD_H_West_Virginia_Shape.zip
NHD_H_Wisconsin_Shape.zip
NHD_H_Wyoming_Shape.zip
NID2016.csv
NID2016.dbf
NID2016.prj
NID2016.qpj
NID2016.shp
NID2016.shx
NID2016.xlsx
compare_nid_ornl.ipynb
hydro.csv
hydro_results.csv
hydro_states.csv
hydro_states.dbf
hydro_states.prj
hydro_states.qpj
hydro_states.shp
hydro_states.shx
hydro_states_v2.csv
nid.csv
nid_QA_check.xlsx
ornl.csv
usa_waterbodies_gt_1acre_centroids_nid.dbf
usa_waterbodies_gt_1acre_centroids_nid.prj
usa_waterbodies_gt_1acre_centroids_nid.qpj
usa_waterbodies_gt_1acre_centroids_nid.shp
usa_waterbodies_gt_1acre_centroids_nid.shx
usa_waterbodies_gt_1acre_simple.dbf
usa_waterbodies_gt_1acre_simple.prj
usa_waterbodies_gt_1acre_simple.qpj
usa_waterbodies_gt_1acre_simple.shp
usa_waterbodies_gt_1acre_simple.shx
usa_waterbodies_gt_1acre_simple_nid.dbf
usa_waterbodies_gt_1acre_simple_nid.prj
usa_waterbodies_gt_1acre_simple_nid.qpj
usa_waterbodies_gt_1acre_simple_nid.shp
usa_waterbodies_gt_1acre_simple_nid.shx
usa_waterbodies_gt_2acres.dbf
usa_waterbodies_gt_2acres.prj
usa_waterbodies_gt_2acres.qpj
usa_waterbodies_gt_2acres.shp
usa_waterbodies_gt_2acres.shx
usa_waterbodies_manmade_temp1.dbf
usa_waterbodies_manmade_temp1.prj
usa_waterbodies_manmade_temp1.qpj
usa_waterbodies_manmade_temp1.shp
usa_waterbodies_manmade_temp1.shx
usa_waterbodies_natural_temp1.dbf
usa_waterbodies_natural_temp1.prj
usa_waterbodies_natural_temp1.qpj
usa_waterbodies_natural_temp1.shp
usa_waterbodies_natural_temp1.shx
utah_waterbodies_simple.dbf
utah_waterbodies_simple.prj
utah_waterbodies_simple.qpj
utah_waterbodies_simple.shp
utah_waterbodies_simple.shx

In [5]:
import pandas as pd

In [14]:
nid = pd.read_csv("nid.csv", encoding = "ISO-8859-1")
nid['PURPOSES'].fillna("NAN", inplace=True)
mask = nid['PURPOSES'].str.contains('H')
nid = nid[mask]
nid.head(1)

,RECORDID,DAM_NAME,LONGITUDE,LATITUDE,COUNTY,CITY,STATE,OWNER_NAME,OWNER_TYPE,PRIVATE_DAM,DAM_TYPE,PURPOSES,NID_HEIGHT_ft,SURFACE_AREA
1,12,MAHOONA DAM,-152.4819,57.9232,KODIAK ISLAND BOROUGH,OUZINKIE,AK,FOCUS ENERGY CORPORATION,P,N,OT,H,13.0,42.0

In [16]:
nid.shape

(2650, 14)

In [17]:
ornl = pd.read_csv("ornl.csv", encoding = "ISO-8859-1")
ornl.head(1)

,PlantID,PlantName,Latitude,Longitude,Ownership,Type,EIA_PtID,FcDocket,FcIssue,FcExpire,HY_MW,HY_CF,PS_MW,PS_CF,N_Gen,Yr_Online,NID_ID,HUC08,State
0,hc0001p01,Alcova,42.548412,-106.717536,4.0,1.0,6409,NaN,(null),(null),41.4,26.474749,-9999.0,-9999.0,2.0,1955,WY01290,10180007.0,WY

In [18]:
ornl.shape

(2401, 19)

In [20]:
nid_AZ = nid[nid.STATE == "AZ"]
ornl_AZ = ornl[ornl.State == "AZ"]

In [22]:
nid_AZ.shape[0], ornl_AZ.shape[0]

(9, 13)

In [58]:
nid_AZ[['DAM_NAME','LATITUDE','LONGITUDE']].sort_values("DAM_NAME").iloc[[6]]

     DAM_NAME  LATITUDE  LONGITUDE
3823   PARKER   34.2966  -114.1392

In [60]:
ornl_AZ[['PlantName','Latitude','Longitude','HY_MW']].sort_values("PlantName").iloc[[0,2,5,9,10]]

                             PlantName   Latitude   Longitude    HY_MW
134           Arizona Falls Powerplant  33.489875 -111.959097   0.7500
70                            Crosscut  33.439188 -111.945885   3.0000
1713                     Headgate Rock  34.168789 -114.276822  19.5000
71                  South Consolidated  33.466463 -111.781074   1.4000
2215  South Extension Canal Powerhouse  33.362393 -112.538708   0.0096

In [62]:
ornl_AZ[['PlantName','Latitude','Longitude','HY_MW']].sort_values("PlantName").iloc[[1,3,4,6,7,8,11,12]]

                           PlantName   Latitude   Longitude   HY_MW
153  C.C. Craigin Dam and Powerplant  34.554400 -111.183800     3.0
13                         Davis Dam  35.197044 -114.570669   254.8
21                   Glen Canyon Dam  36.936614 -111.483872  1312.0
65                        Horse Mesa  33.590552 -111.343907    29.7
66                       Mormon Flat  33.553560 -111.442849     9.2
72                         Roosevelt  33.671361 -111.160765    36.0
73                  Stewart Mountain  33.566909 -111.534683    13.0
67                           Waddell  33.846400 -112.266300 -9999.0