In [1]:
pwd

'/Users/rspencer'

In [2]:
cd ~/Desktop/floating_Solar/results/

/Users/rspencer/Desktop/floating_Solar/results

In [3]:
ls

ALL_v2.csv                              Land_Value.qpj
Archive/                                Land_Value.shp
Evaporation.cpg                         Land_Value.shx
Evaporation.dbf                         Methodology.docx
Evaporation.prj                         Owners/
Evaporation.qpj                         Purposes/
Evaporation.shp                         SAM_Results_v2_cleaned.csv
Evaporation.shx                         State_Centroids.dbf
Evaporation2.dbf                        State_Centroids.prj
Evaporation2.prj                        State_Centroids.qpj
Evaporation2.qpj                        State_Centroids.shp
Evaporation2.shp                        State_Centroids.shx
Evaporation2.shx                        State_Poly.dbf
Evaporation_Collocated.csv              State_Poly.prj
Figures/                                State_Poly.qpj
Generation_v2.dbf                       State_Poly.shp
Generation_v2.prj                       State_Poly.shx
Generation_v2.qpj                       current_generation.csv
Generation_v2.shp                       fpv_preliminary_figures_tables.pptx
Generation_v2.shx                       fpv_preliminary_figures_tables_v2.pptx
Land_Value.dbf                          results_v2.qgs
Land_Value.prj                          results_v2.qgs~

In [4]:
import pandas as pd

In [17]:
data1 = pd.read_csv("Evaporation_Collocated.csv")
data1.head()

,X,Y,field_1,lat,long,nid_area,row_num,TIN_US
0,-93.726522,35.227301,0,35.227301,-93.726522,14.0,1,5.65193
1,-95.047611,34.781097,1,34.781097,-95.047611,5.0,2,5.69601
2,-121.468046,40.026190,2,40.026190,-121.468046,173.0,3,5.66971
3,-104.865400,38.795566,3,38.795566,-104.865400,12.0,4,3.91657
4,-73.262140,41.979756,4,41.979756,-73.262140,178.0,5,3.62617

In [18]:
data2 = pd.read_csv("SAM_Results_v2_cleaned.csv")
data2.head()

   Unnamed: 0 state        lat        long  nid_area
0           0    AR  35.227301  -93.726522      14.0
1           1    OK  34.781097  -95.047611       5.0
2           2    CA  40.026190 -121.468046     173.0
3           3    CO  38.795566 -104.865400      12.0
4           4    CT  41.979756  -73.262140     178.0

In [19]:
data1["state"] = data2.state
data1["volume"] = data1.nid_area * data1.TIN_US

In [20]:
data1.head()

,X,Y,field_1,lat,long,nid_area,row_num,TIN_US,state,volume
0,-93.726522,35.227301,0,35.227301,-93.726522,14.0,1,5.65193,AR,79.12702
1,-95.047611,34.781097,1,34.781097,-95.047611,5.0,2,5.69601,OK,28.48005
2,-121.468046,40.026190,2,40.026190,-121.468046,173.0,3,5.66971,CA,980.85983
3,-104.865400,38.795566,3,38.795566,-104.865400,12.0,4,3.91657,CO,46.99884
4,-73.262140,41.979756,4,41.979756,-73.262140,178.0,5,3.62617,CT,645.45826

In [25]:
data1[['state','volume']].groupby("state").sum().to_csv("test.csv")