In [1]:
cd ~/Desktop/floating_Solar/SAM/

/Users/rspencer/Desktop/floating_Solar/SAM

In [2]:
ls

SAM_Results.csv                manmade_waterbodies.csv*
SAM_Results_WindowsCSV.csv     results.csv
SAM_Results_WindowsCSV_v2.csv  water.sam*
SAM_Results_v2.csv             water_analysis.lk*
SAM_lk_guide.pdf               water_analysis[1].lk
hydro.csv                      weather_data/
hydro_results.csv

In [3]:
import pandas as pd
import numpy as np

In [4]:
rawdata = pd.read_csv("SAM_Results_v2.csv").drop_duplicates(subset="dam_name")[['state', 'nid_area', 'prim_owner', 'prim_purpose', 'pv_annual_kWh', 'evap_acrft']]
rawdata.shape

(24419, 6)

In [5]:
rawdata.columns

Index(['state', 'nid_area', 'prim_owner', 'prim_purpose', 'pv_annual_kWh',
       'evap_acrft'],
      dtype='object')

In [6]:
rawdata.columns = ['state', 'area_acrs', 'primary_owner', 'primary_purpose', 'pv_annual_kWh', 'evap_acrft']

In [7]:
rawdata.pv_annual_kWh.sum()/1000000000

786.2366976427704

In [8]:
evapdata = pd.read_csv("SAM_Results_v2.csv").drop_duplicates(subset="dam_name")[['state','lat','long','nid_area']]
evapdata.to_csv("../results/SAM_Results_v2_cleaned.csv")

In [14]:
cd ~/Desktop/floating_Solar/

/Users/rspencer/Desktop/floating_Solar

In [16]:
gb = data.groupby('state').sum()
gb.to_csv("results/ALL_v2.csv")

In [17]:
owners = data.primary_owner.unique()
for owner in owners:
    print (owner)
    gb = data[data.primary_owner == owner].groupby('state').sum()
    gb.to_csv("results/"+owner+"_v2.csv")

Private
State
Local Government
Public Utility
Federal

In [18]:
purposes = data.primary_purpose.unique()
for purpose in purposes:
    print (purpose)
    gb = data[data.primary_purpose == purpose].groupby('state').sum()
    gb.to_csv("results/"+purpose+"_v2.csv")

Irrigation
Control; Stabilization; Protection
Hydroelectric
Water Supply

In [28]:
gb.sort_values("pv_annual_kWh")

          area_acrs  pv_annual_kWh  evap_acrft
state
DE     3.026439e+02   1.134985e+07          26
OH     9.284410e+02   1.856598e+08        2552
MA     2.319540e+03   4.099161e+08         191
IN     1.088937e+04   7.634547e+08        7757
VT     4.671000e+03   8.939441e+08         318
PA     4.572936e+03   9.463377e+08        2737
MD     4.753669e+03   1.020427e+09        1632
IA     1.826504e+04   1.583062e+09       23501
TN     8.618773e+03   1.795035e+09       13472
RI     8.497036e+03   1.814582e+09         451
WV     9.513121e+03   1.909889e+09       27076
AL     9.682528e+03   2.117095e+09       21029
IL     1.692003e+04   2.561825e+09       32316
MO     1.840140e+04   2.564998e+09       25766
ND     1.337935e+04   2.865803e+09       18956
GA     3.999648e+04   2.875997e+09       79361
SD     1.293560e+04   2.944164e+09       17084
KY     1.528809e+04   3.218218e+09       39057
NH     1.727744e+04   3.349198e+09        4307
CT     3.081713e+04   3.767286e+09       -2242
NJ     1.835020e+04   3.830956e+09       42126
ID     1.355452e+05   3.961180e+09      398592
AR     3.176365e+04   5.226197e+09       32230
CO     1.290471e+05   9.667570e+09      406617
WI     4.856676e+04   1.012106e+10       28713
KS     7.270296e+04   1.052037e+10      188686
MI     6.464418e+04   1.254365e+10      113722
MS     5.482528e+04   1.275887e+10       38320
OR     8.505155e+04   1.711517e+10      329755
NC     7.618200e+04   1.724584e+10      180367
NE     8.556988e+04   1.891936e+10      149732
AZ     1.357958e+05   2.500492e+10     1140207
NY     1.362201e+05   2.501304e+10       43753
CA     4.716061e+05   2.727436e+10     2618514
WY     1.421957e+05   3.155236e+10      533841
MT     1.826400e+05   3.652869e+10      523258
ME     1.924540e+05   3.760797e+10      193298
WA     1.984274e+05   3.938731e+10      599587
SC     1.858420e+05   4.300504e+10      683602
VA     1.996236e+05   4.446017e+10      270385
NV     1.926733e+05   5.172886e+10      955339
TX     2.114622e+05   5.284124e+10     1161784
UT     2.468020e+05   6.060787e+10      827245
MN     3.295889e+05   6.460736e+10      389912
NM     3.650933e+05   1.028493e+11     1653116
LA     4.385497e+05   1.068389e+11      305406
OK     6.396619e+05   1.201114e+11     1309912
FL     1.782627e+06   2.560770e+11    10871527

In [31]:
rawdata.sort_values("nid_area", ascending=False)[:15][['state','dam_name','nid_area','nhd_area', 'prim_owner', 'prim_purpose']]

,state,dam_name,nid_area,nhd_area,prim_owner,prim_purpose
38873,LA,RED MUCK LAKE #4,407802.76900,407802.769000,Private,Tailings
37484,FL,STRUCTURE 191,320277.78460,320277.784600,State,Control; Stabilization; Protection
17756,MN,LOWER RED LAKE DAM,288640.00000,164696.304300,Federal,Control; Stabilization; Protection
25052,NM,CANADA CORRALES DAM,239475.00000,8.159355,Federal,Control; Stabilization; Protection
2979,FL,G94C CONTROL STRUCTURE,163000.00000,4202.727401,State,Control; Stabilization; Protection
3085,FL,G94B CONTROL STRUCTURE,163000.00000,9.974082,State,Control; Stabilization; Protection
3156,FL,G94A CONTROL STRUCTURE,163000.00000,363.817527,State,Control; Stabilization; Protection
24296,NV,HOOVER,156800.00000,135671.531700,Federal,Hydroelectric
37548,FL,PUMPING STATION NO. 6,137907.49090,137907.490900,State,Control; Stabilization; Protection
2978,FL,G301 CONTROL STRUCTURE,133000.00000,132.695385,State,Water Supply
434,CA,LAKE TAHOE,120000.00000,123089.619800,Federal,Irrigation
37648,FL,STRUCTURE NO. 150,116085.73090,116085.730900,State,Control; Stabilization; Protection
37563,FL,PUMPING STATION NO. 7,103906.33620,103906.336200,State,Control; Stabilization; Protection
45571,UT,UTAH LAKE OUTLET,91157.28039,91157.280390,Private,Water Supply
28578,OK,DENISON DAM - PLATTER DIKE,86910.00000,3.212365,Federal,Control; Stabilization; Protection

In [19]:
cd /Volumes/LaCie/FPV_GIS/waterbodies/

/Volumes/LaCie/FPV_GIS/waterbodies

In [27]:
nid = pd.read_csv("nid.csv", encoding = "ISO-8859-1")

In [33]:
nid[nid.DAM_NAME == 'RED MUCK LAKE #4']

,RECORDID,DAM_NAME,LONGITUDE,LATITUDE,COUNTY,CITY,STATE,OWNER_NAME,OWNER_TYPE,PRIVATE_DAM,DAM_TYPE,PURPOSES,NID_HEIGHT_ft,SURFACE_AREA
29709,30809,RED MUCK LAKE #4,-90.25,30.191667,ST JAMES,MT. AIRY,LA,KAISER,P,N,NaN,T,26.0,0.0

In [37]:
nid[nid.DAM_NAME == 'STRUCTURE 191']

,RECORDID,DAM_NAME,LONGITUDE,LATITUDE,COUNTY,CITY,STATE,OWNER_NAME,OWNER_TYPE,PRIVATE_DAM,DAM_TYPE,PURPOSES,NID_HEIGHT_ft,SURFACE_AREA
8604,6743,STRUCTURE 191,-80.760002,27.190001,OKEECHOBEE,TAYLOR CREEK,FL,SFWMD (PAST C&SF FCD),S,N,OT,CS,50.0,0.0

In [36]:
nid[nid.DAM_NAME == 'LAKE TAHOE']

,RECORDID,DAM_NAME,LONGITUDE,LATITUDE,COUNTY,CITY,STATE,OWNER_NAME,OWNER_TYPE,PRIVATE_DAM,DAM_TYPE,PURPOSES,NID_HEIGHT_ft,SURFACE_AREA
4537,3812,LAKE TAHOE,-120.144,39.1671,PLACER,TRUCKEE,CA,RECLAMATION,F,N,CBCNOT,I,18.0,120000.0